:root {
	--outer-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
	--outer-shadow-sm: 0 .125rem .25rem rgba(0,0,0,.075);
	--outer-shadow-lg: 0 1rem 3rem rgba(0,0,0,.175);
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
